.loading {
  height: 50px;
  padding: 0px;
  width: 200px;
  margin-top: -65px;
  margin-left: 30px;
}

.loading-animate {
  bottom:0px;
  width: 10px;
  background-color: #f05f40;
  display: inline-block;
  margin-top: 90px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

// @keyframes loading {
//   0% {height: 10px;}
//   50% {height: 30px;}
// }

// @mixin inner() {
//   height: 30px;
//   width: 10px;
//   background-color: #f05f40;
//   display: inline-block;
//   margin-top: 90px;
//   -webkit-animation: loading 2.5s;
//   -moz-animation: loading 2.5s;
//   -o-animation: loading 2.5s;
//   animation: loading 2.5s;
//   border-top-left-radius: 2px;
//   border-top-right-radius: 2px;
// }

// @mixin loading() {
// 	@for $i from 1 through 5 {
// 		.loading-#{$i} { @include inner(); -webkit-animation-delay: $i/4+s; animation-delay: $i/4+s; }
// 	}
// }

// .loading { @include loading(); }